{%  extends "base.html" %}

{% block content %}
    <div class="box" style="position:relative; left:100px; top:250px;">
        <form method="POST">
            <div>
                Please enter your new quizzes desired name and age range
            </div>
            <div class="field" style="position: relative; top:5px;">
                {{ form.name(class="form-control", placeholder="Quiz name") }}
            </div>
            <div class="field" style="position: relative; top:10px;">
                {{ form.age_range(class="form-control", placeholder="Age Range") }}
            </div>
            <div style="position: relative; top:15px;">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
{% endblock %}