{% extends "base.html" %}

{% block content %}
    <div class="box" style="border: 2px solid #2ea110; border-radius: 25px; padding: 20px; position:relative; left:100px; top:250px;">
        <form method="POST">
            <div class="field">
                {{ form.csrf_token() }}
            </div>
            <div>
                Please enter your new quizzes desired name and age range
            </div>
            <div class="field" style="position: relative; top:5px;">
                {{ form.name(class="form-control", placeholder="Quiz name") }}
            </div>
            <div class="field" style="position: relative; top:10px;">
                {{ form.age_range(class="form-control", placeholder="Age Range") }}
            </div>
            <!-- Copy lines 19 - 21 for share function -->
            <h1>Hello, Flask-Share!</h1>
                <p>Share here</p>
                {{ share.create(title='Share with: ') }}
            <div style="position: relative; top:15px;">
                {{ form.submit(class="btn btn-success") }}
            </div>
        </form>
    </div>
{% endblock %}