{% extends "base.html" %}
{% block content %}
    <div class="container col-3" style="border: 2px solid #2ea110; border-radius: 25px; padding: 20px;
    position: absolute; left: 0; right: 0;">
        <h3 class="text-center">  Log in </h3>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="notification is-danger">
                        {{ messages[0] }}
                    </div>
                {% endif %}
            {% endwith %}
                <form method="POST">
                    <div class="field">
                        {{ form.csrf_token() }}
                        <div class="form-group ">
                            {{ form.email(class="form-control", placeholder="Email") }}
                            {% for error in form.email.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="field">
                        <div class="form-group">
                            {{ form.password(class="form-control", placeholder="Password") }}
                            {% for error in form.password.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    </div>

                    <div>
                        {{ form.submit(class="btn btn-success") }}
                    </div>
                </form>

        </div>
{% endblock %}