{% extends "base.html" %}

{% block content %}
    <div class="text-right" style="margin: 20px">
        <a href="{{ url_for('quiz.create_quiz') }}" class="btn btn-success">Create Quiz</a>
    </div>

    <div class="container">

    {% if quizzes %}
        <div class="row">
            {% for quiz in quizzes %}
                <div class="col-sm-6">
                    <div class="card" style="width: 23rem; margin: 20px">
                        <div class="container">
                            <a href="#" class="badge badge-success badge-pill">{{ quiz.age_group }}</a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ quiz.name }}</h5>
                        </div>

                         <!-- Leader board -->
                        <div class="card text-white bg-success" style="margin: 0 auto; float: none; margin-bottom: 10px;">
                            <div class="card-header text-center"> <h5> Leader board </h5> </div>
                            <div class="card-body text-center">
                        {% for leaderboard in quiz.leaderboard %}
                            <p class="card-text">{{ leaderboard }}</p>
                        {% endfor %}
                            </div>
                        </div>

                    <div class="card-footer text-muted"> Number of plays:
                        <span class="badge">{{ quiz.number_of_plays }}</span>
                        <a href="{{ url_for('quiz.delete_quiz', id=quiz.id) }}" class="btn btn-danger">Delete Quiz</a>
                    </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% else %}

    <div class="card text-center"  style="margin: 20px">
        <div class="card-body">
            <h5 class="card-title">No Quizzes Created</h5>

      </div>
    </div>
    {% endif %}

{% endblock %}
