{% extends "base.html" %}

{% block content %}
    <div class="text-right" style="margin: 20px">
        <a href="{{ url_for('quiz.create_quiz') }}" class="btn btn-success">Create Quiz</a>
    </div>

    <div class="rows">
    {% for quiz in quizzes %}
        <div class="card" style="width: 18rem; margin: 20px">
            <div class="container">
                <a href="#" class="badge badge-success badge-pill">{{ quiz.age_group }}</a>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ quiz.name }}</h5>
                <p class="card-text"> Leaderboard</p>
                <ol class="card-text">
                    <li>
                        <p>Name </p>
                    </li>
                    <li>
                        <p>Name</p>
                    </li>
                    <li>
                        <p>Name </p>
                    </li>
                </ol>
            </div>
        <div class="card-footer text-muted"> Number of plays:
            <span class="badge">{{ quiz.number_of_plays }}</span>
            <a href="{{ url_for('quiz.delete_quiz', id=quiz.id) }}" class="btn btn-success">Delete Quiz</a>
        </div>
    </div>
    {% endfor %}
    </div>
{% endblock %}
