{% extends "tempbase.html" %}  <!-- TODO change to base.html -->

{% block content %}
    {% for quiz in quizzes%}
    <div class="card" style="width: 18rem; margin: 20px">
        <div class="container">
            <a href="#" class="badge badge-success badge-pill">{{ quiz.age_group }}</a>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ quiz.name }}</h5>
            <p class="card-text"> Leaderboard</p>
            <ol class="card-text">
                <li>
                    <p>Name </p>
                </li>
                <li>
                    <p>Name</p>
                </li>
                <li>
                    <p>Name </p>
                </li>
            </ol>
        </div>
        <div class="card-footer text-muted"> Number of plays:
            <span class="badge">{{ quiz.number_of_plays }}</span>
            <a href="{{ url_for('quiz.take_quiz', id=quiz.id) }}" class="btn btn-success">Take Quiz</a>
        </div>
    </div>
    {% endfor %}
{% endblock %}