{% extends "base.html" %}

{% block content %}

    <div class="container col-3" style="border: 2px solid #2ea110; border-radius: 25px; padding: 20px;
    position: absolute; left: 0; right: 0;">
        <h3 class="text-center"> Sign up </h3>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="notification is-danger">
                        {{ messages[0] }}. Go to <a href="{{ url_for('users.login') }}">login page</a>.
                    </div>
                {% endif %}
            {% endwith %}
            <form method="POST">
                <div class="field">
                    {{ form.csrf_token() }}
                    <div class="form-group">
                        {{ form.email(class="form-control", placeholder="Email") }}
                    </div>
                        {% for error in form.email.errors %}
                            {{ error }}
                        {% endfor %}
                </div>
                <div class="field">
                    <div class="form-group">
                        {{ form.password(class="form-control", placeholder="Password") }}
                    </div>
                        {% for error in form.password.errors %}
                            {{ error }}
                        {% endfor %}
                </div>
                <div class="field">
                    <div class="form-group">
                        {{ form.confirm_password(class="form-control", placeholder="Repeat Password") }}
                        {% for error in form.confirm_password.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                </div>
            <label for="q1">Climate change causes an increase in  global temperature</label>
                <div class="field">
                    <div class="form-group">
                        {{ form.q1(class='form-control', placeholder='Answer') }}
                        {% for error in form.q1.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                </div>
            <label for="q2">Burning fossil fuels does not cause climate change</label>
                <div class="field">
                    <div class="form-group">
                        {{ form.q2(class='form-control', placeholder='Answer') }}
                        {% for error in form.q2.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                </div>
            <label for="q3">Climate change causes immense damage to our wildlife</label>
                <div class="field">
                    <div class="form-group">
                        {{ form.q3(class='form-control', placeholder='Answer') }}
                        {% for error in form.q3.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                </div>
            <label for="q4">Climate change has yet to affect us</label>
                <div class="field">
                    <div class="form-group">
                        {{ form.q4(class='form-control', placeholder='Answer') }}
                        {% for error in form.q4.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                </div>
            <label for="q5">We need to act now</label>
                <div class="field">
                    <div class="form-group">
                        {{ form.q5(class='form-control', placeholder='Answer') }}
                        {% for error in form.q5.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                </div>

                <div>
                    {{ form.submit(class="btn btn-success") }}
                </div>
            </form>
        </div>
{% endblock %}
